.orderWasDeleted {
  flex: 4;
  height: calc(100vh - 5rem);
  overflow-x: hidden;

  display: flex;
  justify-content: space-around;
  gap: 3rem;

  background-color: #bae7ee;
  color: #071b2e;

  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/public/img/website/Offline.webp");

  background-size: cover;
  background-position: center;
}

.orderWasDeleted__leftPanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.orderWasDeleted_container_titulo {
  margin-bottom: 2rem;
}

.orderWasDeleted_container_slogan {
  margin-bottom: 5rem;
}

.orderWasDeleted__subTitulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  color: #fa6602;

}

.orderWasDeleted__titulo {
  font-size: 4rem;
}

.orderWasDeleted_slogan {
  font-size: 1.8rem;
}

/* .orderWasDeleted__Offline_NotFound {
  display: block;
  height: 56rem;
 
  align-self: flex-end;
  pointer-events: none;
} */

.orderWasDeleted__inicioButton {
  width: 20rem;
  background-color: #faba09; 
  color: #071b2e;
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10rem;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;

  align-self: center;
}

/* 980px */
@media (max-width:61.25em) {

  .orderWasDeleted {
    
    justify-content: space-evenly;
    gap: 0rem;
  }

  .orderWasDeleted__laptops {
    padding-left: 3rem;
  }
}

/* 880px */
@media (max-width:55em) {

  .orderWasDeleted__subTitulo {
    font-size: 1rem;
  }
  
  .orderWasDeleted__titulo {
    font-size: 3.4rem;
  }
  
  .orderWasDeleted_slogan {
    font-size: 1.6rem;
  }
  
}

/* 680px */
@media (max-width:42.5em) {

  /* .orderWasDeleted__Offline_NotFound {
    height: 50rem;
    align-self: center;
  } */

  /* .orderWasDeleted__leftPanel {
    padding-left: 5rem;
  } */
}

/* 580px */
@media (max-width:36.25em) {
  .orderWasDeleted__inicioButton {
    width: 20rem;
    font-size: 1.4rem;
  }

  /* .orderWasDeleted__leftPanel {
    padding-left: 9rem;
  } */
  
  .orderWasDeleted__titulo {
    font-size: 3rem;
  }
}


/* 480px */
@media (max-width:30em) {

  .orderWasDeleted {
    flex-direction: column;
    align-items: center; 
    /* justify-content: flex-start; */
  } 
  

  .orderWasDeleted__leftPanel {
    padding-left: 0;
    margin-top: 1.2rem; 
    /* padding-top: 1.8rem; */
    margin-bottom: 2rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .orderWasDeleted__laptops {
    padding-left: 0rem;
  } 
  
  /* .orderWasDeleted__inicioButton {
    display: none;
  } */

  /* .orderWasDeleted__Offline_NotFound {
    align-self: flex-end;
  }   */

  .orderWasDeleted_container_slogan {
    margin-bottom: 1rem;
  }

  .orderWasDeleted__subTitulo {
    display: none;
  }

}
