.ticketProduct {
  /* width: 40rem; */
  /* display: flex;
  align-items: center;
  gap: 1.6rem; */
  /* margin-bottom: 1.2rem; */
 

  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(12, 12, 12, 0.257);
}

.ticketProduct__itemOrdered{
  font-size: 1.5rem;
  margin-bottom: .3rem;
  width: 24rem;
}

.ticketProduct__productName {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: .7rem;
  width: 24rem;
}

.ticketProduct__itemContainer {
  display: flex;
  justify-content: space-between;
  /* gap: 8rem; */
}

.ticketProduct__currency {
  color: #555;
  width: 20rem;
  font-size: 1.6rem;
  margin-bottom: .7rem;
  text-align: right;
}

.ticketProduct__productTotal {
  border-top: .1rem solid black;
}


/* 680px */
@media (max-width:42.5em) {
  /* .ticketProduct__itemOrdered{
    width: 20rem;
  } */
}

/* 580px */
@media (max-width:36.25em) {

  /* .ticketProduct {
    width: 33rem;
  }  */
}

/* 480px */
@media (max-width:30em) {
  /* .ticketProduct {
    width: 28rem;
  }  */
}