.newProduct {
  height: calc(100vh - 5rem);
  overflow-x: hidden;
  flex: 4;
}

.newProductTitle {
  font-size: 2.8rem;
  color: #343a40;
  padding-left: 2rem;
}

.newProductForm {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  /* flex-wrap: wrap; */
}

.newProductItem {
  width: 25rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.newProductItem > label {
  color: rgb(151, 150, 150);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

.newProductItem > input {
  width: 40rem;
  height: 2.8rem;
  padding: 1rem 1rem;
  border: .1rem solid gray;
  border-radius: .5rem;
  font-size: 1.4rem;
}

.newProductButton {
  /* width: 20rem; */
  width: 18rem;
  margin-top: 3rem;
  padding: .7rem 1rem;
  border: none;
  border-radius: 1rem;
  /* background-color: darkblue; */
  color: white;
  /* font-weight: 600; */
  cursor: pointer;
  /* font-size: 1.6rem; */

  background: #0164ce;
  border: 1px solid; 
  /* border-color: #225184 #639bd6 #023368; */
  border-color: hsla(211, 96%, 21%, 0.933) ;

  /* color: #111; */
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 7rem;
}

.newProductButton:disabled,
.newProductButton[disabled] {
  background-color: gray;
}

.newProductLeft {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
}

.newProductRight{
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding-left: 2rem; */
  padding-right: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newProductUpload{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newProductImg{
  width: 35rem;
  height: 35rem;
  border-radius: 1rem;
  object-fit: cover;
  /* margin-right: 2rem; */
  margin-bottom: 1.5rem;
}

.newProductIcon__upload {
  font-size: 3rem;
  cursor: pointer;
  color: #343a40;
}

.newProductUpload__label {
  margin-bottom: 4.4rem;
}

/* 780px */
@media (max-width:48.75em) {
  
  .newProductForm { 
    flex-direction: column;
  }
}

/* 480px */
@media (max-width:30em) {

  .newProduct {
    overflow-x: hidden;
  }
  
  /* .newProductForm { 
    flex-direction: column;
  } */

  .newProductTitle {
    margin-left: 1rem;
  }

  .newProductItem > input {
    width: 30rem;
  }

  /* .newProductImg{
    width: 30rem;
    height: 30rem;
  } */

  .newProductUpload {
    flex-direction: column;
    margin-bottom: 3rem;
    justify-content: center;
    margin-right: 0rem;
  }

  .newProductRight{
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem; */
    padding-right: 0rem;
  }
}